[submodule "bp-esplora-client"]
	path = bp-esplora-client
	url = git@github.com:spreston8/bp-esplora-client.git
[submodule "bp-std"]
	path = bp-std
	url = git@github.com:spreston8/bp-std.git
[submodule "rgb"]
	path = rgb
	url = git@github.com:spreston8/rgb.git
	branch = dev
