[submodule "bp-esplora-client"]
	path = bp-esplora-client
	url = git@github.com:spreston8/bp-esplora-client.git
	branch = master
[submodule "bp-std"]
	path = bp-std
	url = git@github.com:spreston8/bp-std.git
	branch = master
[submodule "rgb"]
	path = rgb
	url = git@github.com:spreston8/rgb.git
	branch = dev
[submodule "rgb-wallet"]
	path = rgb-wallet
	url = git@github.com:spreston8/rgb-wallet.git
	branch = master
[submodule "rgb-std"]
	path = rgb-std
	url = git@github.com:spreston8/rgb-std.git
	branch = dev
[submodule "rgb-core"]
	path = rgb-core
	url = git@github.com:spreston8/rgb-core.git
	branch = master
[submodule "rust-client"]
	path = rust-client
	url = git@github.com:F1R3FLY-io/rust-client.git
	branch = main
[submodule "f1r3node"]
	path = f1r3node
	url = git@github.com:F1R3FLY-io/f1r3node.git
	branch = rust/dev
